/*====================================

    Table of Content

    01 -  Variables
    02 -  Styles
    03 -  Header + Navbar
    04 -  Breadcrumb
    05 -  Aside Bar
    06 -  Content
    07 -  Footer
    08 -  Breakpoints
    09 -  Media Queries

=====================================*/


/* Import Adobe Font from TypeKit*/

@import url("https://use.typekit.net/jgj7wal.css");

/* icofont icon font */

@import url("plugins/icofont.min.css");

/* fontawesome icon font */

@import url("plugins/fontawesome-all.min.css");

/*====================================
    01 -  Variables
=====================================*/

:root {
    /* ######################################### */
    /* ----------- VARIABLES ----------- */
    /* ######################################### */
    /* ------- COLORS ------- */
    --primary: #c4afa0;
    --secondary: #f5b53f;
    --tertiary: #254c50;
    --white: #faf5ef;
    --light-gray: #9c9c9c;
    --medium-gray: #828282;
    --black: #323232;
    /* ------- FONTS ------- */
    --heading1: 500 2rem "Poppins", sans-serif;
    --heading2: 400 1.5rem "Poppins", sans-serif;
    --heading3: italic 400 1.2rem/2rem "Poppins", sans-serif;
    --menu-elements: 500 0.7rem "Lato", sans-serif;
    --title: 500 0.9rem "Poppins", sans-serif;
    --paragraph: 300 0.9rem/1.2rem "Lato", sans-serif;
    /* ------- SHADOW ------- */
    --lg-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
    --md-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    --sm-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}


/*====================================
    02 -  Styles
=====================================*/


/* General Styles
================================*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #353535;
    margin: 1rem 0;
}

h1 {
    font-size: 3.0rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.4rem;
}

p {
    font-size: 1.6rem;
    font-family: var(--paragraph);
    font-weight: 300;
    color: var(--black);
    line-height: 1.58;
    letter-spacing: .025em;
    padding: 0 0 1.5em;
    -webkit-font-smoothing: subpixel-antialiased;
}

label {
    font-size: 1.2rem;
}

small {
    font-size: 1rem;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}

.border-top {
    border-top: 3px solid !important;
}

.seperator {
    border: none;
    padding: 5.0rem;
}

.logo {
    max-width: 110px;
}

.img-responsive {
    display: block;
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}

.invisible {
    visibility: hidden;
    display: none;
}

.pull-right {
    text-align: right;
}

.pull-left {
    text-align: left;
}

.p-hdr-left {
    padding: 0 0 0 20px;
}

.p-hdr-right {
    padding: 0 20px 0 0;
}

.m-hdr-right {
    margin: -2px 0 0 0;
}

.overflow-hidden {
    overflow: hidden;
}

.row.display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.display-flex>[class*='col-'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


/* Colors
================================*/


/* btn design */

.btn-cfa {
    font-family: var(--heading3);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 16px;
    border-radius: 20px;
}

.btn-cfa:hover {
    color: var(--white);
}


/* btn colors */

.btn-cfa__green {
    color: var(--white);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn-cfa__green:hover {
    background-color: var(--secondary);
}

.btn-cfa__blue {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-cfa__blue:hover {
    background-color: var(--primary);
    border-color: var(--tertiary);
}


/*====================================
    03 -  Header + Navbar
=====================================*/


/* Header
================================*/

#header {
    position: fixed;
    cursor: default;
    line-height: 52px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}


/** sticky scroll menu background color **/

.sticky-color {
    background: rgba(0, 0, 0, 0.8) !important;
}


/* Navbar
================================*/

.navigation {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: initial;
    -webkit-box-align: initial;
    align-items: initial;
    width: 100%;
    min-height: 60px;
    padding: 0;
    position: relative;
    line-height: initial;
    font-family: "Poppins", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.navigation *,
.navigation *:before,
.navigation *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

.navigation.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 19998;
}

.navigation.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    will-change: opacity;
    z-index: 19998;
}

.navigation>.container {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}


/* Mobile header
================================*/

.navigation-header {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}


/* Overlay panel
================================*/

.overlay-panel {
    width: 0;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -999999;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

.overlay-panel.is-visible {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 19999;
}

.overlay-panel.is-invisible {
    opacity: 0;
}


/* NAVIGATION LOGO
================================*/

.navigation-logo {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.navigation-logo a {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.navigation-logo a img {
    height: 40px;
    display: block;
}

.navigation-logo-top .navigation-body .navigation-logo img {
    width: auto;
    height: auto;
}

.navigation-header .navigation-logo {
    padding: 0 1rem;
}

.navigation-logo.navigation-item a img {
    width: auto;
    height: auto;
}


/* NAVIGATION BUTTON TOGGLER
================================*/

.navigation-button-toggler {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.navigation-button-toggler .hamburger-icon {
    width: 20px;
    height: 2px;
    display: inline-block;
    font-style: normal;
    color: #d1d1d1;
    -webkit-box-shadow: inset 0 0 0 32px, 0 -6px, 0 6px;
    box-shadow: inset 0 0 0 32px, 0 -6px, 0 6px;
}


/* NAVIGATION BODY
================================*/

.navigation-body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #353535;
    z-index: 20000;
    -webkit-transition: left 0.8s cubic-bezier(0.1, 0.1, 0.1, 0.1), right 0.8s cubic-bezier(0.1, 0.1, 0.1, 0.1);
    transition: left 0.8s cubic-bezier(0.1, 0.1, 0.1, 0.1), right 0.8s cubic-bezier(0.1, 0.1, 0.1, 0.1);
}

.navigation-body.offcanvas-right {
    left: auto;
    right: -100%;
}

.navigation-body.is-visible {
    left: 0;
    -webkit-transition: left 0.8s, right 0.8s;
    transition: left 0.8s, right 0.8s;
}

.navigation-body.offcanvas-right.is-visible {
    right: 0;
    left: auto;
}

.navigation-body.is-invisible {
    left: -100%;
}

.navigation-body.offcanvas-right.is-invisible {
    right: -100%;
}

.navigation-body.scroll-momentum {
    -webkit-overflow-scrolling: touch;
}

.navigation-body-header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: solid 1px #404040;
}

.navigation-body-close-button {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: auto;
    padding-bottom: 2px;
    line-height: initial;
    text-align: center;
    font-size: 25px;
    color: #d1d1d1;
    cursor: pointer;
}

.navigation-body-section {
    width: 100%;
    padding: 16px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.navigation-body-section+.navigation-body-section {
    padding-top: 0;
}


/* NAVIGATION MENU
================================*/

.navigation-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0rem;
    display: inline-block;
}


/* Navbar item */

.navigation-item {
    width: 100%;
    margin: 0;
    display: inline-block;
}


/* Navbar link */

.navigation-link {
    width: 100%;
    padding: 13px 16px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none !important;
    border-bottom: solid 1px #404040;
    -webkit-transition: border-color 0.3s, color 0.3s, background 0.3s;
    transition: border-color 0.3s, color 0.3s, background 0.3s;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.navigation-link:visited {
    color: #fff;
}

.navigation-menu.navigation-info-menu+.navigation-menu:not(.navigation-info-menu) .navigation-item:first-child .navigation-link {
    border-top: solid 1px #404040;
}

.navigation-link i {
    width: 28px;
    float: left;
    text-align: center;
    font-size: 24px;
    line-height: 0;
}

.navigation-link i[class*=fa] {
    font-size: 21px;
}

.navigation-link i+span {
    padding-left: 8px;
}

.navigation-icon-item .navigation-link {
    padding: 13px 16px;
}

.navigation-body-section+.navigation-menu:not(.navigation-info-menu)>.navigation-item:first-child>.navigation-link {
    border-top: solid 1px #404040;
}


/* NAVIGATION SOCIAL MENU
================================*/

.navigation-info-menu {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    padding: 0 16px;
    text-align: center;
}

.navigation-info-menu .navigation-item {
    width: auto;
    display: inline-block;
}

.navigation-info-menu .navigation-item .navigation-link {
    margin: 0;
    padding: 0 5px;
    border: none;
}

.navigation-info-menu .navigation-item .navigation-link i {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    line-height: initial;
    font-size: 16px;
    border-radius: 19px;
}

.navigation-info-menu .navigation-item .navigation-link i:not([class*=fa]):before {
    margin-right: -1px;
}

.navigation-info-menu .navigation-item .navigation-link:hover,
.navigation-info-menu .navigation-item .navigation-link:focus,
.navigation-info-menu .navigation-item .navigation-link.is-active {
    color: #3B8FC6;
    background: transparent;
}

.navigation-info-menu .navigation-item:last-child .navigation-link {
    padding-right: 0;
}

.navigation-info-menu .navigation-item:first-child .navigation-link {
    padding-left: 0;
}


/* SUBMENU INDICATOR
================================*/

.submenu-indicator {
    width: 46px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20000;
}

.submenu-indicator:after {
    height: 6px;
    width: 6px;
    margin: -3px 0 0 -3px;
    top: 50%;
    left: 50%;
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: transparent #d1d1d1 #d1d1d1 transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border 0.3s, -webkit-transform 0.3s;
    transition: border 0.3s, -webkit-transform 0.3s;
    transition: border 0.3s, transform 0.3s;
    transition: border 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.navigation-item:hover>.navigation-link>.submenu-indicator:after,
.navigation-item:focus>.navigation-link>.submenu-indicator:after,
.navigation-item.is-active>.navigation-link>.submenu-indicator:after {
    border-color: transparent #eaeaea #eaeaea transparent;
}

.submenu-indicator.is-active:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/* NAVIGATION BUTTON
================================*/

.navigation-btn {
    width: 100%;
    padding: 10px 12px;
    text-align: center;
    display: block;
    line-height: 1.4;
    font-size: 14px;
    white-space: nowrap;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px #3B8FC6;
    background-color: #3B8FC6;
    -webkit-transition: opacity 0.3s, background 0.3s;
    transition: opacity 0.3s, background 0.3s;
}

.navigation-btn:hover,
.navigation-btn:focus {
    color: #fff;
    text-decoration: none;
    background-color: #02a9e6;
}


/* NAVIGATION TEXT
================================*/

.navigation-text {
    padding: 11px 0;
    display: inline-block;
    color: #d1d1d1;
    font-size: 14px;
}


/* NAVIGATION BADGE
================================*/

.navigation-badge {
    min-width: 18px !important;
    height: 18px;
    margin: 0 5px;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    border-radius: 20px;
    background-color: #3B8FC6;
}


/* NAVIGATION INLINE FORM
================================*/

.navigation-inline-form {
    position: relative;
}

.navigation-inline-form .navigation-btn {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    right: 4px;
    background-color: transparent !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.navigation-input {
    width: 100%;
    padding: 11px 32px 11px 12px;
    outline-width: 0;
    font-size: 14px;
    color: #d1d1d1;
    line-height: 1.4;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    background-color: #3d3d3d;
    border-style: solid;
    border-width: 1px;
    border-color: #404040;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}

.navigation-input:hover,
.navigation-input:focus {
    border-color: #3B8FC6;
}

.navigation-input::-webkit-input-placeholder {
    color: lightgray;
}

.navigation-input:-ms-input-placeholder {
    color: lightgray;
}

.navigation-input::-ms-input-placeholder {
    color: lightgray;
}

.navigation-input::placeholder {
    color: lightgray;
}

.navigation-input:-ms-input-placeholder {
    color: lightgray;
}

.navigation-input::-ms-input-placeholder {
    color: lightgray;
}

.navigation-search-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: white;
    text-align: left;
    text-indent: -9999px;
    border: 2px solid;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.navigation-search-icon:after,
.navigation-search-icon:before {
    content: '';
    pointer-events: none;
}

.navigation-search-icon:before {
    width: 2px;
    height: 7px;
    top: 10px;
    position: absolute;
    left: 50%;
    border-radius: 0 0 1px 1px;
    -webkit-box-shadow: inset 0 0 0 32px;
    box-shadow: inset 0 0 0 32px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.navigation-btn:hover .navigation-search-icon {
    color: #3B8FC6;
}


/* NAVIGATION DROPDOWN
================================*/

.navigation-dropdown {
    width: 100%;
    max-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    position: static;
    display: block;
    z-index: 20001;
    background-color: #3b3b3b;
    -webkit-transition: max-height 2s cubic-bezier(0, 1, 0, 1);
    transition: max-height 2s cubic-bezier(0, 1, 0, 1);
}

.navigation-dropdown.is-visible {
    max-height: 2500px;
    -webkit-transition: max-height 5s ease-out;
    transition: max-height 5s ease-out;
}

.navigation-dropdown .navigation-dropdown {
    left: 100%;
}

.navigation-dropdown .navigation-dropdown-left {
    right: 100%;
    left: auto;
}

.navigation-dropdown-item {
    width: 100%;
    margin: 0;
    display: inline-block;
}

.navigation-dropdown-link {
    width: 100%;
    display: inline-block;
    position: relative;
    font-size: 13px;
    color: #d1d1d1;
    border-bottom: solid 1px #404040;
    -webkit-transition: border 0.3s, color 0.3s, background 0.3s;
    transition: border 0.3s, color 0.3s, background 0.3s;
}

.navigation-dropdown-link:visited {
    color: #d1d1d1;
}

.navigation-dropdown-item:hover>.navigation-dropdown-link,
.navigation-dropdown-item:focus>.navigation-dropdown-link,
.navigation-dropdown-item.is-active>.navigation-dropdown-link {
    text-decoration: none !important;
    color: #eaeaea;
    border-color: #18c0fd;
    background-color: #3B8FC6;
}

.navigation-dropdown-link {
    padding: 14px 19px;
}

.navigation-dropdown-link+ul .navigation-dropdown-link {
    padding-left: 32px;
}

.navigation-dropdown-link+ul .navigation-dropdown-link+ul .navigation-dropdown-link {
    padding-left: 48px;
}

.navigation-dropdown-link+ul .navigation-dropdown-link+ul .navigation-dropdown-link+ul .navigation-dropdown-link {
    padding-left: 48px;
}

.navigation-dropdown-link+ul .navigation-dropdown-link+ul .navigation-dropdown-link+ul .navigation-dropdown-link+ul .navigation-dropdown-link {
    padding-left: 64px;
}

.navigation-dropdown-link+ul .navigation-dropdown-link+ul .navigation-dropdown-link+ul .navigation-dropdown-link+ul .navigation-dropdown-link+ul .navigation-dropdown-link {
    padding-left: 128px;
}

.navigation-dropdown-link>.submenu-indicator {
    right: 0;
    top: 0;
    position: absolute;
}

.navigation-dropdown-item:hover>.navigation-dropdown-link>.submenu-indicator:after,
.navigation-dropdown-item:focus>.navigation-dropdown-link>.submenu-indicator:after,
.navigation-dropdown-item.is-active>.navigation-dropdown-link>.submenu-indicator:after {
    border-color: transparent #eaeaea #eaeaea transparent;
}


/* MEGAMENU
================================*/

.navigation-megamenu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    display: block;
    position: static;
    font-size: 14px;
    color: #d1d1d1;
    z-index: 20001;
    background-color: #3b3b3b;
    -webkit-transition: max-height 2s cubic-bezier(0, 1, 0, 1);
    transition: max-height 2s cubic-bezier(0, 1, 0, 1);
}

.navigation-megamenu.is-visible {
    max-height: 2500px;
    border-bottom: solid 1px #404040;
    -webkit-transition: max-height 5s ease-out;
    transition: max-height 5s ease-out;
}

.scroll-momentum .navigation-megamenu {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.navigation-megamenu [class*="container"] {
    width: 100%;
}

.navigation-megamenu [class*="container"] [class*="col-"] {
    padding: 0;
}

.navigation-megamenu-container {
    padding: 16px;
    display: table;
}


/* MEGAMENU GRID
================================*/

.navigation-row {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.navigation-row>[class^=navigation-col] {
    width: 100%;
    min-height: 20px;
    margin-bottom: 1rem;
    position: relative;
}

.navigation-row:last-of-type [class^=navigation-col]:last-child {
    margin-bottom: 0;
}


/* MEGAMENU LIST
================================*/

.navigation-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-list>li {
    width: 100%;
    margin: 0;
}

.navigation-list>li>a {
    padding: 10px 30px 10px 30px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: 13px;
    color: #d1d1d1;
    text-decoration: none;
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s;
}

.navigation-list>li>a:hover {
    color: #fff;
    background-color: #3B8FC6;
}

[class^=navigation-col]:last-of-type .navigation-list>li>a {
    border-right: none;
}

.navigation-list>li:not(.navigation-list-heading)>a:before {
    content: "\25B9";
    position: absolute;
    left: 12px;
    font-size: 9px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.navigation-list-heading {
    text-transform: uppercase;
    font-weight: bold;
}

.navigation-list-heading>a {
    padding: 0 16px 13px !important;
}

.navigation-list-heading>a:hover {
    color: #353535 !important;
    background-color: transparent !important;
}


/* UTILITIES
 ================================*/

.align-to-right {
    margin-left: auto !important;
}

.align-to-left {
    margin-right: auto !important;
}

.margin-top {
    margin-top: 1rem !important;
}


/*====================================
    04 -  Breadcrumb
=====================================*/

.breadcrumb {
    background-color: #fff;
    font-size: 1.2rem;
}

.breadcrumb .breadcrumb-item a {
    color: #3B8FC6;
}


/*====================================
    05 -  Aside Bar
=====================================*/

aside a.nav-link {
    font-size: 1.4rem;
    color: #3B8FC6;
}

aside a.nav-link:hover {
    color: #353535;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #3B8FC6;
}


/*====================================
    06 -  Content
=====================================*/

.content-p {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.banner {
    margin: 0 !important;
    padding: 0 !important;
    background: url(../images/img-hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    -o-border-image: linear-gradient(90deg, #1ec543, #197dbd, #e32626, #f2994d) 2;
    border-image: -webkit-gradient(linear, left top, right top, from(#1ec543), color-stop(#197dbd), color-stop(#e32626), to(#f2994d)) 2;
    border-image: linear-gradient(90deg, #1ec543, #197dbd, #e32626, #f2994d) 2;
}

.banner_two {
    margin: 0 !important;
    padding: 0 !important;
    background: url(../images/img-hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 450px;
    border-bottom: 4px solid;
    -o-border-image: linear-gradient(90deg, #1ec543, #197dbd, #e32626, #f2994d) 2;
    border-image: -webkit-gradient(linear, left top, right top, from(#1ec543), color-stop(#197dbd), color-stop(#e32626), to(#f2994d)) 2;
    border-image: linear-gradient(90deg, #1ec543, #197dbd, #e32626, #f2994d) 2;
}

.banner_three {
    margin: 0 !important;
    padding: 0 !important;
    background: url(../images/img-hero3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 450px;
    border-bottom: 4px solid;
    -o-border-image: linear-gradient(90deg, #1ec543, #197dbd, #e32626, #f2994d) 2;
    border-image: -webkit-gradient(linear, left top, right top, from(#1ec543), color-stop(#197dbd), color-stop(#e32626), to(#f2994d)) 2;
    border-image: linear-gradient(90deg, #1ec543, #197dbd, #e32626, #f2994d) 2;
}

.banner_four {
    margin: 0 !important;
    padding: 0 !important;
    background: url(../images/img-hero4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 450px;
    border-bottom: 4px solid;
    -o-border-image: linear-gradient(90deg, #1ec543, #197dbd, #e32626, #f2994d) 2;
    border-image: -webkit-gradient(linear, left top, right top, from(#1ec543), color-stop(#197dbd), color-stop(#e32626), to(#f2994d)) 2;
    border-image: linear-gradient(90deg, #1ec543, #197dbd, #e32626, #f2994d) 2;
}

.banner_five {
    margin: 0 !important;
    padding: 0 !important;
    background: url(../images/img-hero5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 450px;
    border-bottom: 4px solid;
    -o-border-image: linear-gradient(90deg, #1ec543, #197dbd, #e32626, #f2994d) 2;
    border-image: -webkit-gradient(linear, left top, right top, from(#1ec543), color-stop(#197dbd), color-stop(#e32626), to(#f2994d)) 2;
    border-image: linear-gradient(90deg, #1ec543, #197dbd, #e32626, #f2994d) 2;
}

.banner h1,
.banner p,
.banner_two h1,
.banner_two p,
.banner_three h1,
.banner_three p,
.banner_four h1,
.banner_four p,
.banner_five h1,
.banner_five p {
    color: #fff;
    text-shadow: 1px 1px rgba(35, 35, 35, 0.75);
}

.banner .hero-text,
.banner_two .hero-text,
.banner_three .hero-text,
.banner_four .hero-text,
.banner_five .hero-text {
    padding: 230px 0;
}

.banner .hero-text .hero-heading,
.banner_two .hero-text .hero-heading,
.banner_three .hero-text .hero-heading,
.banner_four .hero-text .hero-heading,
.banner_five .hero-text .hero-heading {
    font-size: 4.2rem;
}

.banner .hero-text .hero-subheading,
.banner_two .hero-text .hero-subheading,
.banner_three .hero-text .hero-subheading,
.banner_four .hero-text .hero-subheading,
.banner_five .hero-text .hero-subheading {
    font-size: 1.8rem;
}

.news-img__right {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    max-height: 500px;
}

.news-img__left {
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    max-height: 500px;
}

.img-rel {
    width: 100%;
    max-height: 162px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0 25%;
    object-position: 0 25%;
    margin-bottom: 2rem;
}

.img-art {
    width: 100%;
    max-height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0 65%;
    object-position: 0 65%;
    margin-bottom: 2rem;
}


/** Cards **/

.card {
    position: relative;
    display: inline-block;
    background: #fff;
    border-radius: 2px;
    border: none;
    width: 100%;
}

.card-1 {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}


/* Cats & Mouses a.k.a categories & menus */

.cats-heading {
    font-size: 2rem;
    padding: .6rem;
    /*
  max-width: 150px;
  background-color: $white;
  */
}

.cats-heading::before {
    display: inline-block;
    top: -5px;
    width: 14px;
    height: 2px;
    background-color: #252525;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.cats-heading:before {
    content: "";
    position: relative;
    pointer-events: none;
}

.cats-list li a {
    font-size: 1.4rem;
}

.cats a {
    color: #62A7D3;
}

.cats-icon {
    max-width: 50px;
}


/* Calendar */

.calendar .calendar-m,
.calendar .calendar-d {
    font-family: "Poppins", sans-serif;
}

.calendar .calendar-m {
    font-size: 4rem;
}

.calendar .calendar-d {
    font-size: 6rem;
    margin: -1.5rem;
    padding: 0;
    color: #E32626;
}

.form-check-input {
    margin-top: 1.4rem;
}

.form-check-label.registration {
    margin: 1rem;
}

.registration-dl {
    margin: 1rem 0;
}


/*====================================
    10 -  Footer
=====================================*/

footer {
    background-color: #fff;
}

footer .badges {
    margin: 60px auto 0 auto;
    width: 100%;
}

footer .badges img {
    max-width: 82px;
    padding: 10px;
}

footer .socials i {
    font-size: 1.8rem;
    margin-right: 10px;
}

footer .newsletter {
    text-align: center;
    margin: 25px 0 0;
    padding: 70px 0;
    background-color: #fff;
}

input,
textarea,
select {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: #000;
    max-width: 100%;
    line-height: 1.2;
    border-radius: 3px;
}

.newsletter input[type="search"],
input[type="text"],
input[type="name"],
input[type="number"],
input[type="email"],
input[type="password"] {
    font-size: 1.4rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    padding: 1rem 1.6rem;
    border-radius: 1.9rem;
    min-width: 400px;
}

.newsletter input[type="search"]:focus,
input[type="text"]:focus,
input[type="name"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
}

.newsletter input[type="search"]:focus::-webkit-input-placeholder,
input[type="text"]:focus::-webkit-input-placeholder,
input[type="name"]:focus::-webkit-input-placeholder,
input[type="number"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.newsletter-submit {
    display: inline-block;
    background-color: #3B8FC6;
    padding: 9px 16px;
    margin-left: -82px !important;
    border: none;
    margin-top: -5px;
    border-radius: 19px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.newsletter-submit:hover {
    text-decoration: none;
    color: #fff;
    background-color: #62A5D1;
}

footer h5 {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #353535;
    padding-bottom: 2rem;
    text-transform: uppercase;
    margin-top: 40px;
}

footer a {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    line-height: 3rem;
}

footer .text-muted {
    color: #959595 !important;
}

.copyright {
    padding: 12px 0;
    text-align: center;
    background: #f7f7f7;
}

.copyright a {
    color: #b7b7b7;
    font-weight: 500;
}

.copyright p {
    font-size: 1.4rem;
    color: #bfbfbf;
    margin: 0;
    padding: 0;
}

.copyright .icons a {
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 4px #fff, 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 4px #fff, 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 1em;
    height: 3em;
    line-height: 3em;
    margin: 0 auto 0.7em;
    text-align: center;
    width: 3em;
}


/*====================================

    08 -  Breakpoints 

          992 - Desktop
          768  - Tablet
          480  - Mobile
          370  - Extra Small Mobile
          
=====================================*/


/*====================================

    09 -  Media Queries
          
=====================================*/


/*  Media Min-500
=====================================*/

@media (min-width: 500px) {
    .navigation-body {
        width: 320px;
    }
}


/*  Screen  Max-768
=====================================*/

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.3rem;
    }
    .newsletter input[type="search"],
    input[type="number"],
    input[type="email"],
    input[type="password"] {
        min-width: 320px;
    }
    .seperator {
        padding: 0.5rem;
    }
    footer .newsletter {
        padding: 3rem 0;
    }
    .copyright p {
        font-size: 1.2rem;
    }
}


/*  Media Max-991
=====================================*/

@media (max-width: 991px) {
    .navigation-info-menu {
        padding: 16px;
    }
    .navigation-info-menu .navigation-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .hide-on-portrait {
        display: none !important;
    }
}


/*  Media Min-992
=====================================*/

@media (min-width: 992px) {
    .navigation {
        height: auto;
    }
    .navigation-header {
        display: none;
    }
    .navigation-body {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        position: relative;
        left: auto;
        overflow: visible;
        z-index: auto;
        background-color: transparent;
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }
    .navigation-body-header {
        border: none;
    }
    .navigation-centered .navigation-body-header {
        padding: 0;
    }
    .navigation-logo-top .navigation-body-header {
        padding-top: 20px;
    }
    .navigation-body-close-button {
        display: none;
    }
    .navigation-text {
        padding: 11px 16px;
    }
    .navigation-logo a img {
        height: 48px;
    }
    .navigation-body-section {
        width: auto;
        display: inline-block;
    }
    .navigation-body-section+.navigation-body-section {
        padding-top: 16px;
    }
    .navigation-body.offcanvas-right {
        right: auto;
    }
    .navigation-body.offcanvas-right.is-visible {
        right: auto;
    }
    .navigation-row:last-of-type [class^=navigation-col] {
        margin-bottom: 0;
    }
    .navigation-centered .navigation-body {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .navigation-justified .navigation-body {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .navigation-logo-top .navigation-body {
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .overlay-panel.is-visible {
        display: none !important;
    }
    .navigation-menu {
        width: auto;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .navigation .navigation-menu {
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
        -ms-flex-align: stretch;
        -webkit-box-align: stretch;
        align-items: stretch;
    }
    .navigation-logo-top .navigation-menu {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .navigation-item {
        width: auto;
    }
    .navigation-link {
        height: 100%;
        padding: 0 16px;
        font-size: 1.2rem;
        line-height: 60px;
        border: none;
        border-bottom: 3px solid #fff;
    }
    .navigation-link a,
    .navigation-link a:hover {
        color: #fff !important;
    }
    .navigation-splitter {
        margin-right: 1.6rem;
    }
    .navigation-menu.navigation-info-menu+.navigation-menu:not(.navigation-info-menu) .navigation-item:first-child .navigation-link {
        border-top: none;
    }
    .navigation-link i {
        width: auto;
    }
    .navigation-icon-item .navigation-link {
        width: 100%;
        margin: 0;
        padding: 25px 25.6px;
        border-left: solid 1px #404040;
    }
    .navigation-icon-item .navigation-link span:not(.submenu-indicator) {
        display: none;
    }
    .navigation-icon-item .navigation-link .navigation-badge {
        right: 10px;
    }
    .navigation-icon-item .navigation-link i {
        width: 20px;
        height: 26px;
        margin: 0;
        line-height: 26px;
        text-align: center;
        float: left;
        font-size: 25.6px;
    }
    .navigation-icon-item .navigation-link i[class*=fa] {
        width: auto;
        font-size: 21px;
    }
    .navigation-body-section+.navigation-menu:not(.navigation-info-menu)>.navigation-item:first-child>.navigation-link {
        border-top: none;
    }
    .navigation-info-menu {
        width: auto;
        padding: 0 16px 0 0;
    }
    .submenu-indicator {
        width: 6px;
        height: 6px;
        margin-left: 6px;
        float: right;
        position: relative;
    }
    li:not(.navigation-icon-item) span:not(.navigation-badge)+.submenu-indicator,
    li:not(.navigation-icon-item) i+span+.navigation-badge+.submenu-indicator {
        margin-left: 0;
    }
    .submenu-indicator.is-active:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .navigation-btn {
        width: auto;
    }
    .navigation-link .navigation-badge {
        position: absolute;
        right: -2px;
        top: calc(50% + -20px);
    }
    .navigation-dropdown-link .navigation-badge {
        position: static;
    }
    .navigation-inline-form {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
    }
    .navigation-dropdown {
        width: 180px;
        margin-top: 40px;
        position: absolute;
        display: inline-block;
        opacity: 0;
        -webkit-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.05);
        box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.05);
        -webkit-transition: opacity 0.3s linear, max-height 0s linear 0.6s, margin 0.3s;
        transition: opacity 0.3s linear, max-height 0s linear 0.6s, margin 0.3s;
    }
    .navigation-dropdown.is-visible {
        margin-top: 0;
        opacity: 1;
        overflow: visible;
        -webkit-transition: opacity 0.3s linear, max-height 0s linear, margin 0.3s;
        transition: opacity 0.3s linear, max-height 0s linear, margin 0.3s;
    }
    .navigation-dropdown-link {
        padding-left: 19px !important;
        border-bottom: none;
    }
    .navigation-dropdown-link>.submenu-indicator {
        position: absolute;
        top: 50%;
        right: 10px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .navigation-dropdown-link>.submenu-indicator:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .navigation-dropdown-link>.submenu-indicator.submenu-indicator-left:after {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    .navigation-megamenu {
        margin-top: 40px;
        position: absolute;
        opacity: 0;
        color: #353535;
        background-color: #f7f7f7;
        border-top: solid 0px transparent;
        -webkit-transition: opacity 0.3s linear, max-height 0s linear 0.6s, margin 0.3s;
        transition: opacity 0.3s linear, max-height 0s linear 0.6s, margin 0.3s;
        overflow: inherit;
    }
    .navigation-megamenu.is-visible {
        margin-top: 20px;
        opacity: 1;
        border-bottom: none;
        -webkit-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.05);
        box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.05);
        -webkit-transition: opacity 0.3s linear, max-height 0s linear, margin 0.3s;
        transition: opacity 0.3s linear, max-height 0s linear, margin 0.3s;
    }
    .navigation-megamenu.navigation-megamenu-half {
        width: 50%;
    }
    .navigation-megamenu.navigation-megamenu-quarter {
        width: 25%;
    }
    .navigation-megamenu.navigation-megamenu-quarter::before {
        bottom: 100%;
        left: 15%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }
    .scroll-momentum .navigation-megamenu {
        -webkit-transform: none;
        transform: none;
    }
    .navigation-row .navigation-col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .navigation-row .navigation-col-1 {
        -ms-flex: 0 0 8.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .navigation-row .navigation-col-2 {
        -ms-flex: 0 0 16.666666%;
        -webkit-box-flex: 0;
        flex: 0 0 16.666666%;
        max-width: 16.666666%;
    }
    .navigation-row .navigation-col-3 {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .navigation-row .navigation-col-4 {
        -ms-flex: 0 0 33.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .navigation-row .navigation-col-5 {
        -ms-flex: 0 0 41.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 41.666667%;
        max-width: 41.666666%;
    }
    .navigation-row .navigation-col-6 {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .navigation-row .navigation-col-7 {
        -ms-flex: 0 0 58.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .navigation-row .navigation-col-8 {
        -ms-flex: 0 0 66.666666%;
        -webkit-box-flex: 0;
        flex: 0 0 66.666666%;
        max-width: 66.666666%;
    }
    .navigation-row .navigation-col-9 {
        -ms-flex: 0 0 75%;
        -webkit-box-flex: 0;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .navigation-row .navigation-col-10 {
        -ms-flex: 0 0 83.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .navigation-row .navigation-col-11 {
        -ms-flex: 0 0 91.666666%;
        -webkit-box-flex: 0;
        flex: 0 0 91.666666%;
        max-width: 91.666666%;
    }
    .navigation-row .navigation-col-12 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .navigation-list>li>a {
        color: #353535;
    }
    [class^=navigation-col]:last-of-type .navigation-list {
        padding: 0;
    }
    .margin-top {
        margin-top: 0 !important;
    }
    .hide-on-landscape {
        display: none !important;
    }
    footer h5 {
        margin-top: 0;
    }
}


/*# sourceMappingURL=styles.css.map */