@mixin flex($flex-flow) {
  display: flex;
  flex-flow: $flex-flow;
}

@mixin grid-rows($property, $gap) {
  display: grid;
  grid-template-rows: $property;
  gap: $gap;
}

@mixin grid-cols($property, $gap) {
  display: grid;
  grid-template-columns: $property;
  gap: $gap;
}
