<footer id="footy">
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>News letter</h3>
          <p>Lorem ipsum</p>
        </div>
        <div class="col-md-12">
          <div class="newsletter-field">
            <form
              role="form"
              action="#"
              method="post"
              target="_blank"
              id="newsletter"
            >
              <div class="input-container">
                <input
                  type="email"
                  class="input"
                  name="email"
                  placeholder="Email adresse"
                />
                <label for="email" class="input-label">Email address</label>
              </div>
              <button
                type="submit"
                class="btn btn-secondary"
                name="commit"
                id="subscribe"
              >
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-auto py-5">
    <div class="row">
      <div class="col-12 col-md">
        <p>LuxLiving</p>
      </div>
      <div class="col-6 col-md">
        <h5>Address</h5>
        <ul class="list-unstyled text-small">
          <li class="text-muted">
            <p>Saltværksvej 8</p>
          </li>
          <li class="text-muted">
            <p>2000 Copenhagen</p>
          </li>
          <li class="text-muted">
            <p>Denmark</p>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contact</h5>
        <ul class="list-unstyled text-small">
          <li class="text-muted">
            <p>+45 12 34 56 78</p>
          </li>
          <li class="text-muted">
            <p>hello@luxliving.com</p>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Customer srevice</h5>
        <ul class="list-unstyled text-small">
          <li class="text-muted">
            <p>Help</p>
          </li>
          <li class="text-muted">
            <p>FAQ</p>
          </li>
          <li class="text-muted">
            <p>Subscriptions</p>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Social Media</h5>
        <ul class="list-unstyled text-small socials">
          <li>
            <i class="icofont-facebook"></i
            ><a class="text-muted" href="#" target="_blank">Facebook</a>
          </li>
          <li>
            <i class="icofont-instagram"></i
            ><a class="text-muted" href="#" target="_blank">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- copyright start -->
  <div class="copyright">
    <p>&copy; 2021.</p>
  </div>
  <!-- copyright end -->
</footer>
