<header id="header">
  <nav id="navigation" class="">
    <div class="navigation-logo">
      <a class="logo" href="index.html"> LuxLiving </a>
    </div>
    <div class="search-bar">
      <input
        type="search"
        name="search-bar"
        id="search-bar"
        placeholder="search ..."
      />
      <img class="search-icon" src="../assets/search.svg" />
    </div>

    <button id="burgermenu" class="btn-tertiary bars">
      <div class="bar bar1"></div>
      <div class="bar bar2"></div>
      <div class="bar bar3"></div>
    </button>

    <div class="desktop-nav">
      <a id="categories" class="link link-flat">Categories</a>
      <a class="link link-flat" href="./pages/help.html">Help</a>
      <a id="sign-in" class="link link-flat" href="./pages/sign-in.html"
        >Sign in</a
      >
    </div>

    <div class="dropdown hide">
      <ul class="category-list">
        <li class="category">
          Residence
          <ul class="subcat hide">
            <li><a class="link link-navi" href="#">Apartment</a></li>
            <li><a class="link link-navi" href="#">House</a></li>
            <li><a class="link link-navi" href="#">Summer house</a></li>
            <li><a class="link link-navi" href="#">Country house</a></li>
            <li><a class="link link-navi" href="#">Barn</a></li>
            <li><a class="link link-navi" href="#">Castle</a></li>
          </ul>
        </li>
        <li class="category">
          Rooms
          <ul class="subcat hide">
            <li><a class="link link-navi" href="#">Livingroom</a></li>
            <li><a class="link link-navi" href="#">Bathroom</a></li>
            <li><a class="link link-navi" href="#">Bedroom</a></li>
            <li><a class="link link-navi" href="#">Corridor</a></li>
            <li><a class="link link-navi" href="#">Office/</a></li>
            <li><a class="link link-navi" href="#">Kid's room</a></li>
          </ul>
        </li>
        <li class="category">
          Outdoor
          <ul class="subcat hide">
            <li><a class="link link-navi" href="#">Balcony</a></li>
            <li><a class="link link-navi" href="#">Terrasse</a></li>
          </ul>
        </li>
        <li class="category">
          Design & Architecture
          <ul class="subcat hide">
            <li><a class="link link-navi" href="#">Architecture</a></li>
            <li><a class="link link-navi" href="#">Design</a></li>
            <li><a class="link link-navi" href="#">Culture</a></li>
            <li><a class="link link-navi" href="#">Design Awards</a></li>
          </ul>
        </li>
        <li class="category">
          Magazine
          <ul class="subcat hide">
            <li>
              <a class="link link-navi" href="#">Printed magazines</a>
            </li>
            <li><a class="link link-navi" href="#">Subscriptions</a></li>
          </ul>
        </li>
        <li class="category">
          <a class="link help link-navi" href="#">Help</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
