.card-event {
  padding: 2rem 2rem 1rem 0;
  // margin: 2rem auto;

  .event-content {
    @include column-flex;
    justify-content: space-evenly;
    white-space: pre-line;

    width: 200px;
    height: 100%;

    .card-title {
      margin-top: 1rem;
      font-weight: 600;

      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }

    .img-responsive {
      display: block;
      width: 180px;
      height: 180px;
      object-fit: cover;
    }

    p {
      white-space: initial;
    }
  }
}

@media (min-width: $max-s) {
  .card-event {
    padding: 2rem;
  }
}
