.card-event {
  padding: 2rem 2rem 1rem 0;
  // margin: 2rem auto;

  .event-content {
    @include flex(column wrap);
    justify-content: space-evenly;
    white-space: pre-line;

    width: 200px;
    height: 100%;
    transition: transform 0.2s ease-in-out;

    .card-title {
      margin-top: 1rem;
      font-weight: 600;
      color: $black;
    }

    .img-responsive {
      display: block;
      width: 180px;
      height: 180px;
      object-fit: cover;
    }

    p {
      white-space: initial;
      color: $black;
    }

    &:hover {
      cursor: pointer;
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1);

      h2,
      h4 {
        color: $tertiary;
      }
    }
  }
}

@media (min-width: $max-s) {
  .card-event {
    padding: 2rem;
  }
}
