@media print {
	.link {
		-webkit-print-color-adjust: exact !important;
	}
}

a {
	user-select: none;
	cursor: pointer;
	text-decoration: none;
}

.link {
	color: $white;
	transition: color 0.3s ease;

	// &:visited {
	//   color: $white;
	// }

	&-navi {
		text-transform: capitalize;
		&:hover,
		&:active {
			color: $tertiary;
		}
	}

	&-hyper {
		color: $black;
	}

	&-flat {
		padding: 0 1.5vw;

		&:link {
			background-color: transparent;
		}
		&:active {
			background-color: $tertiary;
		}
	}
}

.active {
	background-color: $tertiary;
}

.see-all {
	&::after {
		content: " →";
	}
}

.back {
	color: $black;

	&::before {
		content: "←  ";
	}

	&:hover,
	&:active {
		color: $tertiary;
		// font-weight: bolder;
	}
}
