// Breadcrumb
ul.breadcrumb {
	// padding: 10px 16px;
	padding: 10px 41px 40px;
	list-style: none;
}

ul.breadcrumb li {
	display: inline;
}

ul.breadcrumb li + li:before {
	padding: 8px;
	color: $tertiary;
	content: "/\00a0";
}

ul.breadcrumb li a {
	color: $tertiary;
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	text-decoration: underline;
}

main#article,
main#customer-event {
	margin-top: 8vh;
	// required to make sure the `absolute` positioning of
	// the anchor wrapper is indeed `relative` to this element vs. the body
	position: relative;
	// margin: 2rem auto;
}

article#article-content {
	margin: 2rem auto 5rem auto;
	padding: 0 2.8rem;
	@include flex(column wrap);

	h3.opening-text {
		margin: 2rem auto;
	}

	section#article-top {
		@include flex(row wrap);
	}

	.img-responsive {
		display: block;
		//   width: 340px;
		//   height: 250px;
		padding: 1rem;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.some-icons-container {
		margin-top: 1.5rem;

		img {
			margin-right: 0.5rem;
			width: 20px;
			height: 18px;
		}

		svg:hover {
			fill: #ff7474;
		}
	}

	section#author-published {
		@include flex(column wrap);
		margin: 1rem 0;
		font-style: italic;

		line-height: $line-height-a;
	}
	img {
		cursor: pointer;
		align-self: center;
	}
}
#photo-enlarge .modal {
	margin: 4rem auto;
	background-color: transparent;

	.close {
		color: $medium-gray;
		top: 3px;
	}
}
.zoomed-photo {
	width: 100%;
}

section#comment-interact {
	padding: 0 1rem;
	@include flex(row wrap);
	justify-content: space-between;

	.comment-container {
		background-color: $white;
		padding: 1rem;
		width: -moz-available;

		button.btn {
			min-width: 64px !important;
		}
	}

	.rating {
		margin-top: 2rem;
		small {
			color: $light-gray;
		}
	}
}

.profile-img {
	border-radius: 50%;
	box-shadow: $lg-shadow;
	width: 50px;
	height: 50px;
}

.profile-name {
	font-size: 0.85rem;
	font-weight: 600;
	color: $tertiary;
}

.time-sent {
	font-size: 0.75rem;
	font-family: $paragraph;
	font-weight: 500;
	color: $secondary;
	line-height: 1.3rem;
}

.comment {
	@include grid-cols(60px auto, 0rem);
	padding: 2rem 0;
}

fieldset.typing-field {
	@include grid-cols(60px 100px, 0rem);

	.profile-head {
		@include flex(column wrap);
		align-items: center;
	}
	.profile {
		width: 40px;
		height: 40px;
	}
	.input-container {
		width: 57vw;
	}
}

.chat-field {
	box-shadow: $sm-shadow;
	background-color: #fff;
	border-radius: 5px;
	padding: 1rem;
}

.stars-container {
	padding: 1rem 0;

	svg {
		height: 25px;
		width: 25px;
		margin-right: 0.3rem;

		&:hover {
			fill: #f8c971;
		}
	}
}

.back-to-top-wrapper {
	// uncomment to visualize "track"
	// outline: 1px solid red;
	position: absolute;
	top: $scroll-length;
	right: 0.5rem;
	bottom: -5em;
	width: 3em;
}

.back-to-top-link {
	// `fixed` is fallback
	position: fixed;
	// preferred positioning, requires prefixing for most support, and not supported on Safari
	// @link https://caniuse.com/#search=position%3A%20sticky
	// position: sticky;
	// reinstate clicks
	pointer-events: all;
	// achieves desired positioning within the viewport
	// relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
	top: calc(100vh - 4rem);

	// basic styling
	display: inline-block;
	text-decoration: none;
	font-size: 2rem;
	// line-height: 3rem;
	text-align: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	padding: 0.25rem;
	box-shadow: $md-shadow;

	// "pretty" styles, including states
	background-color: $secondary;
	transition: transform 80ms ease-in;

	img {
		margin-bottom: 6px;
	}

	&:hover,
	&:focus {
		transform: scale(1.1);
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px scale-color($secondary, $lightness: 35%);
	}
}

@media (min-width: $max-s) {
	main#article {
		padding: 0 1rem;
	}

	article#article-content {
		section#article-top {
			@include grid-cols(80% auto, 0.8rem);
		}
		.some-icons-container {
			margin-top: 0;
			place-self: baseline end;
			position: relative;
			right: -20px;
		}
		.img-responsive {
			height: 800px;
			width: 500px;
		}
	}

	.comment-container > form {
		@include grid-cols(auto 87px, 1rem);
	}

	fieldset.typing-field {
		.input-container {
			width: 64vw;
			//   width: max-content;
		}
	}
}

@media (min-width: $max-m) {
	main#article {
		margin: 6.5vh 4rem;
	}
	section#comment-interact {
		@include grid-cols(68% 30%, 2rem);
	}
	.comment-container > form {
		padding: 0 2rem;
	}
}

@media (min-width: 1024px) {
	fieldset.typing-field .input-container {
		// width: max-content;
		max-width: 350px;
	}

	.back-to-top-wrapper {
		right: -8rem;
	}
}
@media (min-width: $max-ml) {
	fieldset.typing-field {
		.input-container {
			width: 64vw;
		}
	}
}
@media (min-width: $max-l) {
	main#article {
		max-width: 1000px;
		margin: 10vh auto auto auto;
	}
	fieldset.typing-field .input-container {
		max-width: 350px;
		// max-width: 646px;
	}
}
