/* Internal */
@import "../0-base/index";
@import "../1-mixins/mixins";
@import "../2-components/components";

@import "../plugins/icofont.min.css"; /* icofont icon font */
@import "../plugins/fontawesome-all.min.css"; /* fontawesome icon font */

/* --- INDEX PAGE --- */
#topic {
  @include grid-rows(20% 80%, 1rem);
  margin: 2.5rem auto;
  padding: 0 2rem 0 2rem;

  .top-wrapper {
    @include grid-cols(auto 16%, 5rem);
  }

  .top-wrapper-events {
    @include grid-cols(auto 30%, 5rem);
  }
  .top-wrapper,
  .top-wrapper-events {
    place-items: baseline;
  }

  .topic-title {
    text-transform: uppercase;
    font-weight: 650;

    .see-all {
      text-transform: none;
    }
  }

  .articles,
  .events {
    overflow: auto;
    white-space: nowrap;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: x;

    .card-article,
    .card-event {
      display: inline-block;
      scroll-snap-align: content-container;
    }
  }
}

@media (min-width: $max-s) {
  #topic {
    padding-top: 1rem;

    .topic-title {
      margin: 0 0 0 2rem;
    }

    .top-wrapper-events {
      grid-template-columns: auto 16%;
    }

    .articles {
      @include grid-cols(repeat(4, 1fr), 1rem);
    }
  }
}

@media (min-width: $max-ml) {
  #topic {
    .articles {
      overflow: hidden;
      white-space: wrap;
      scroll-snap-type: unset;
      scroll-snap-points-y: unset;
      scroll-snap-type: unset;

      @include grid-cols(repeat(4, 1fr), 1rem);
    }
  }
}
