.sub-page-title {
	padding-top: 9vh;
	margin-left: 2rem;
}

#public-subs .banner {
	background: url("../images/pexels-subscriptions-cottonbro-4046164.jpg")
		no-repeat center center;
	background-size: cover;
}
section.all-subscriptions,
#settings,
#settings > label[for="sort"] {
	@include flex(row wrap);
}

section.all-subscriptions {
	justify-content: space-between;
	padding: 0rem 2rem;
}

.sub {
	box-shadow: $lg-shadow;
	border-radius: 10px;
	background-color: #fff;

	padding: 2rem;
	margin: 1rem auto;

	height: 100%;
	transition: transform 0.4s ease-in-out;
	@include grid-rows(50px auto 80px, 1.5rem);

	ul li {
		list-style: disc;
		line-height: $line-height-p;
		margin: 0 0 0 1rem;
		color: $black;

		&::marker {
			content: "✓";
		}
		span {
			margin-left: 0.8rem;
		}
	}

	.price-action {
		place-self: center;

		p {
			color: $tertiary;
			font-weight: 550;
		}
		a.btn {
			width: -moz-fit-content;
			width: -webkit-fit-content;
			width: fit-content;
		}
	}

	&:hover {
		-ms-transform: scale(1.1); /* IE 9 */
		-webkit-transform: scale(1.1); /* Safari 3-8 */
		transform: scale(1.1);
		z-index: 20;
		// background-color: $primary;
		// color: $white;

		h2,
		ul li {
			color: $tertiary;
		}

		ul li span {
			font-weight: 550;
		}
	}
}

#public-subs .other-subs-sec {
	margin-top: 6rem;
	.top-wrapper {
		@include grid-cols(auto auto, 1rem);
		// grid-template-columns: auto auto !important;
		// gap: 1rem;
		justify-content: space-between;
		place-items: inherit;
	}
}

.other-subs {
	@include flex(row wrap);
	justify-content: space-around;

	a.btn {
		min-width: -moz-fit-content;
	}

	.card-event {
		padding: 1rem 0 1rem 1.3rem;

		.other-sub-img {
			margin: 0 0 1rem 0;
		}
	}

	.price-action {
		@include grid-cols(auto 30%, 0rem);
		// padding: 1rem 1rem 0 0;
		padding: 1rem 0;
	}
}

#settings {
	justify-content: flex-end;

	.btn {
		min-width: 80px;
		justify-content: space-evenly;
	}

	.btn .sort {
		margin-right: 1rem;
	}
	.sort-list {
		display: none;
		position: absolute;
		line-height: $line-height-a;
		background: $tertiary;
		width: -moz-fit-content;
		padding: 1rem;
		// margin: 2rem 2.5rem;
		margin: 2rem 0rem;
		color: $white;
		width: max-content;

		transform-origin: 0% 0%;
		transform: translate(0%, -123%);
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

		li:hover {
			cursor: pointer;
		}
	}

	label[for="sort"] {
		margin: 0;
		transform: none;
		user-select: none;
		cursor: pointer;
		color: $white;
		position: relative;
		top: -42px;
		right: 17px;
		// top: 9px;
		// right: 65px;
		@include grid-cols(auto auto, 0.5rem);
	}
}

input#sort:checked ~ .sort-list {
	display: block;
	transform: none;
	z-index: 9;
}

// iphone 6/7/8 plus
@media (min-width: 413.98px) {
	#settings {
		label[for="sort"] {
			top: 9px;
		}
		.btn {
			position: relative;
			right: -46px;
		}
	}
}
@media (min-width: $max-s) {
	section.all-subscriptions {
		@include grid-cols(repeat(3, 1fr), 1rem);
	}

	.other-subs {
		justify-content: space-between;

		.card-event {
			padding: 1rem 0 1rem 0rem;
		}
	}
}

@media (min-width: $max-m) {
	.other-subs {
		// justify-content: center;
		padding-left: 2rem;
		.card-event {
			padding: 1rem;
		}
	}
}

@media (min-width: $max-ml) {
	.sub-page-title {
		margin-left: 5rem;
	}
	section.all-subscriptions {
		margin-bottom: 5rem;
		.sub {
			width: 400px;
		}
	}
	#settings {
		padding: 0;
	}
}

@media (min-width: $max-l) {
	#public-subs .other-subs-sec {
		margin: 6rem 2rem 0;
	}
}
