/* Libraries */
@import "plugins/icofont.min.css"; /* icofont icon font */
@import "plugins/fontawesome-all.min.css"; /* fontawesome icon font */

/* Internal */
@import "./0-base/index";
@import "./1-mixins/mixins";
@import "./2-components/components";

/*====================================
    02 -  Styles
=====================================*/
/* General Styles
================================*/
main {
  margin-top: 6vh;
}

/* --- INDEX PAGE --- */
#topic {
  @include row-flex;
  margin: 2.5rem auto;
  padding: 0 2rem 0 2rem;

  .top-wrapper {
    @include grid-2-cols;
    place-items: baseline;
    justify-content: space-between;
    gap: 5rem;
  }
  .topic-title {
    text-transform: uppercase;
    font-weight: 650;

    .see-all {
      text-transform: none;
    }
  }

  .articles,
  .events {
    overflow: auto;
    white-space: nowrap;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: x;

    .card-article,
    .card-event {
      display: inline-block;
      scroll-snap-align: content-container;
    }
  }

  // fixed width when there are less than 4 event cards
  .events {
    min-width: 100vw;
  }
}

/* --- HELP PAGE --- */
#contact h5 {
  margin-left: 3rem;
}
#contact-form {
  @include row-flex;
  justify-content: center;
  padding: 2.5rem 2rem;
}

.invisible {
  visibility: hidden;
}

.hide {
  display: none;
}

@media (min-width: $max-s) {
  #topic {
    padding-top: 1rem;

    .topic-title {
      margin: 0 0 0 2rem;
    }
  }
  .col-left {
    flex-grow: 1;
    flex-basis: 200px;
  }
  .col-right {
    flex-grow: 2;
    flex-basis: 300px;
  }
}

.border-top {
  border-top: 3px solid !important;
}

.seperator {
  border: none;
  padding: 5rem;
}

.logo {
  max-width: 110px;
}

.pull-right {
  text-align: right;
}
.pull-left {
  text-align: left;
}

.p-hdr-left {
  padding: 0 0 0 20px;
}
.p-hdr-right {
  padding: 0 20px 0 0;
}

.m-hdr-right {
  margin: -2px 0 0 0;
}

.overflow-hidden {
  overflow: hidden;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*="col-"] {
  display: flex;
}
