/* Internal */
@import "./0-base/index";
@import "./1-mixins/mixins";
@import "./2-components/components";
@import "./3-pages/pages.scss";

/* Libraries */
@import "./plugins/icofont.min.css"; /* icofont icon font */
@import "./plugins/fontawesome-all.min.css"; /* fontawesome icon font */

/*====================================
    02 -  Styles
=====================================*/
/* General Styles
================================*/
main {
	margin-top: 3.5vh;
}

@media (min-width: $max-l) {
	main {
		margin-top: 6vh;
	}
}

.seperator {
	border: none;
	padding: 5rem;
}

.logo {
	max-width: 110px;
}

@media screen and (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
