/* Libraries */
@import "plugins/icofont.min.css"; /* icofont icon font */
@import "plugins/fontawesome-all.min.css"; /* fontawesome icon font */

/* Internal */
@import "./0-base/index";
@import "./1-mixins/mixins";
@import "./2-components/components";

/*====================================
    02 -  Styles
=====================================*/
/* General Styles
================================*/
main {
  margin-top: 6vh;
}
/* --- INDEX PAGE --- */
#topic {
  @include row-flex;
  margin: auto;

  .topic-title {
    margin: 0 0 0 2rem;
  }

  .articles {
    overflow: auto;
    white-space: nowrap;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: x;

    .card-article {
      display: inline-block;
      scroll-snap-align: content-container;
    }
  }
}

/* --- HELP PAGE --- */
#contact h5 {
  margin-left: 3rem;
}
#contact-form {
  @include row-flex;
  justify-content: center;
  padding: 2.5rem 2rem;
}

.invisible {
  visibility: hidden;
}

.hide {
  display: none;
}

@media (min-width: $max-s) {
  #contact-form {
    // display: grid;
    // grid-template-columns: 350px 600px;
  }
  .col-left {
    flex-grow: 1;
    flex-basis: 200px;
  }
  .col-right {
    flex-grow: 2;
    flex-basis: 300px;
  }
}
.border-top {
  border-top: 3px solid !important;
}
.border-bottom {
  border-bottom: 3px solid !important;
}

.seperator {
  border: none;
  padding: 5rem;
}

.logo {
  max-width: 110px;
}

.img-responsive {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.pull-right {
  text-align: right;
}
.pull-left {
  text-align: left;
}

.p-hdr-left {
  padding: 0 0 0 20px;
}
.p-hdr-right {
  padding: 0 20px 0 0;
}

.m-hdr-right {
  margin: -2px 0 0 0;
}

.overflow-hidden {
  overflow: hidden;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*="col-"] {
  display: flex;
}
